<div class="card" id="in1606">
	<header>
		<h3>IN1606</h3>
	</header>
	<form>
		<label>Input</label>
		<select name="input" onchange="IN1606.setInput($(this).val())">
			<%
				const inputs = [
					"Unknown",
					"Unknown",
					"Console",
					"PC",
					"Unknown",
					"Unknown... Here be dragons."
				]
			%>

			<% for (var i = 1; i < 7; i++) { %>
				<option value=<%=i%> <%= i == current.in1606.input ? "selected" : "" %>>
				<%= i %>: <%= inputs[i-1] ||Unknown %>
				</option>
			<% } %>
		</select>
		
		<fieldset>
			<legend>Actions</legend>
			<button 
				type="button" 
				class="button" 
				onclick="IN1606.autoImage()">
				Auto-Crop
			</button>
		</fieldset>

		<!--
		<fieldset class="fieldset" id="in1606_cropping">
			<legend onclick="$('#in1606_cropping .row').toggle()">Cropping</legend>

			<div class="row">
				<div class="columns">
					<label>Width</label>
					<input type="number" 
						name="width" 
						min=10 max=4096
						id="in1606_width"
						value=<%= current.in1606.width || 0 %>
						onchange="IN1606.setWidth($(this).val())">
				</div>

				<div class="columns">
					<label>Height</label>
					<input type="number" 
						name="height"
						id="in1606_height"
						min=10 max=2400
						value=<%= current.in1606.height || 0 %>
						onchange="IN1606.setHeight($(this).val())">
				</div>
			</div>
			<div class="row">
				<div class="columns">
					<label>Horizontal Shift</label>
					<input type="number" 
						name="horizontalShift"
						id="in1606_horizontalShift"
						min=-2048 max=2048
						value=<%= current.in1606.horizontalShift || 0 %>
						onchange="IN1606.setHPoz($(this).val())">
				</div>

				<div class="columns">
					<label>Vertical Shift</label>
					<input type="number" 
						name="verticalShift"
						id="in1606_verticalShift"
						min=-1200 max=1200
						value=<%= current.in1606.verticalShift || 0 %>
						onchange="IN1606.setVPoz($(this).val())">
				</div>
			</div>
		</fieldset>
	-->
	</form>
</div>
