<div class="card" id="ossc">
	<header>
		<h3>OSSC</h3>
	</header>
	<form>
		<fieldset>
			<label>Input</label>
			<select name="input">
				<option value="">No change</option>
				<% 
					const options = ["RGBs", "RGsB", "RGBHV", "RGBH"];
					for (let opt of options) {
				%>
				<option <%= opt.toLowerCase() === current.ossc.input.toLowerCase() ? "selected" : "" %>><%= opt %></option>
				<% } %>
			</select>
		</fieldset>

		<fieldset>
			<label>Interlace Passthrough</label>
			<input type="checkbox" name="interlacePassthrough" <%= current.ossc.interlacePassthrough ? "checked" : "" %>>
		</fieldset>

		<fieldset class="fieldset">
			<legend>Line Multipler</legend>

			<%
				const multiplers = [2,3,4,5];
				for (let mult of multiplers) {
			%>
		
			<label>Line x<%= mult%></label>
			<input 
				type="radio" 
				name="lineMultiplier" 
				value="<%= mult%>"
				<%= mult == current.ossc.lineMultiplier ? "checked" : "" %>>
			<br />

			<% } %>

		</fieldset>

		<!--
		public Boolean interlacePassthrough;
		public Boolean lineTripple;
		-->

		<button 
			type="button" 
			class="button" 
			value="Send" 
			id="ossc_form_submit">Send</button>
	</form>
</div>
