<div class="card" id="vp50">
	<header>
		<h3>DVDO VP50</h3>
	</header>
	<form method="POST" action="/rack/vp50">
		<input type="hidden" name="rack" value="1">
		<fieldset>
			<label>Preset</label>
			<select name="preset">
				<option value="">No change</option>
				<% for (var i = 1; i < 13; i++) { %>
					<option <%= i === current.vp50.preset ? "selected" : "" %>><%= i %></option>
				<% } %>
			</select>
		</fieldset>

		<fieldset>
			<label>Input</label>
			<select name="input">
				<option selected value="">No change</option>
				<% 
					const options = [
						"Composite1", 
						"Composite2", 
						"S-Video1", 
						"S-Video2",
						"Component1",
						"Component2",
						"Component3",
						"HDMI1",
						"HDMI2",
						"HDMI3",
						"HDMI4",
						"SDI1",
						"SDI2",
						"AUTO",
					];
					
					for (let opt of options) {
				%>
					<option value="<%=opt.toLowerCase()%>" 
						<%= opt.toLowerCase() === current.ossc.input.toLowerCase() ? "selected" : "" %>>
						<%= opt %>
					</option>
				<% } %>
			</select>
		</fieldset>

		<!--
		public Integer preset;
		public String input;
		-->

		<button type="submit" class="button" value="Send" >Send</button>
	</form>
</div>
